@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

html,
body {
  background-image: url("https://images2.alphacoders.com/706/thumb-1920-706162.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  font-family: "Poppins", sans-serif;
  min-width: 320px;
  margin: auto;
  margin-top: -10px;
  padding-top: 20px;
  color: #ffffff;
}

#title {
  color: #292828;
}

#description {
  font-size: 18px;
}

#form-outer {
  background-color: #02020780;
  margin: auto;
  border-radius: 10px;
  width: 75%;
  max-width: 750px;
  padding: 10px;
  padding-top: 10px;
  margin-bottom: 30px;
}

.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}
.rightTab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}

.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px rgba (110, 110, 91);
  border-radius: 15px;
}

.userRatings,
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

.input-comment {
  height:50px;
  resize:vertical;
}

#btn {
  background-color: #222222;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1rem;
  height: 40px;
  width: 96px;
  margin: 2px;
  border: 0px solid;
  cursor: pointer;
  transition: all 0.5s ease;
}

#btn:hover {
  background-color: #4a595e;
}

.dropdown {
  height: 30px;
  width: 140px;
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
  border: 1px solid #60aba7;
  border-radius: 12px;
}

.radio,
.checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}

@media screen and (max-width: 659px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}
